<?xml version="1.0" encoding="utf-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hellojava.dao.OrderDao.OrderDao">
<resultMap id="orderResult" type="order">
    <id column="order_id" property="orderId"></id>
    <result column="order_business" property="orderBusiness"></result>
    <result column="order_address" property="orderAddress"></result>
    <result column="order_phone" property="orderPhone"></result>
    <result column="total_price" property="totalPrice"></result>
    <result column="order_time" property="orderTime"></result>
    <result column="order_state" property="orderState"></result>
    <result column="user_id" property="userId"></result>
    <result column="recive_people" property="recivePeople"></result>
    <result column="order_remake" property="orderRemark"></result>

</resultMap>
<insert id="insertOrder" parameterType="order">
        insert into shopping_order value (#{orderId},#{orderBusiness},
        #{orderAddress},#{orderPhone},#{totalPrice},#{orderTime},#{orderState},#{userId},#{recivePeople},#{orderRemark})
    </insert>

<select id="loadBystatu" resultMap="orderResult">
       select * from shopping_order where order_state=2
    </select>
<update id="updateorderstatu" parameterType="string">
        update shopping_order set order_state=3 where order_id=#{rdm}
    </update>
    <select id="loadorderInfoById" parameterType="string" resultMap="orderResult">
        select * from shopping_order where order_id=#{orderId}
    </select>
    <select id="loadOidByUid" parameterType="int" resultType="string">
        select order_id from shopping_order where user_id=#{userId}
    </select>
    <insert id="insertordercom" parameterType="list">
        insert into order_business values
        <foreach collection="list" separator="," item="c">
            (#{c.orderId},#{c.comId},#{c.comTotal})
        </foreach>
    </insert>
    <select id="loadtotalbycomid" resultType="integer">
        select com_total from order_business where commodity_id=#{comId} and order_id=#{orderid}
    </select>
</mapper>